@import  '../css/footer';@import '../css/responsive';
@import  '../css/header';
@import '../css/section';
@import '../css/responsive';
@import '../css/burger';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
        scroll-behavior: smooth;

}

li{
  list-style-type: none;
}
a{
    text-decoration: none;
}

.container{
 max-width: 1200px;
 margin:0 auto;
} 

